<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="GET" path="get.KYA" type="Lab_2.App_Code.GetKYA"/>
      <add verb="POST" path="post.KYA" type="Lab_2.App_Code.PostKYA"/>
      <add verb="PUT" path="put.KYA" type="Lab_2.App_Code.PutKYA"/>
      <add verb="POST" path="sum.KYA" type="Lab_2.App_Code.SumKYA"/>
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="GET" path="get.KYA" name="Get" type="Lab_2.App_Code.GetKYA"/>
      <add verb="POST" path="post.KYA" name="Post" type="Lab_2.App_Code.PostKYA"/>
      <add verb="PUT" path="put.KYA" name="Put" type="Lab_2.App_Code.PutKYA"/>
      <add verb="POST" path="sum.KYA" name="Sum" type="Lab_2.App_Code.SumKYA"/>
    </handlers>
  </system.webServer>

</configuration>
